// @use '../abstracts/variables' as v; // double dot to go back an additional step // as v changes namespace
// @use '../abstracts/variables' as *;  // takes away the namespace
@use "../abstracts" as *; // imported with folder because of forwards
@use "./typography" as t;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.btn-test {
  background-color: $color-light-coral;
}

body {
  background-color: $color-midnight-green;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: t.$font;
}

// }

// svg {
//   cursor: pointer;
// }

// svg:hover path {
//   fill: #30C88F;
//   @include transition;
// }

.hamburger-menu {
  background-color: transparent;
  background-image: url(/assets/icon-hamburger.svg);
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  width: 20px;
  height: 17px;
  background-position: center center;
}

.hamburger-menu.active {
  background-image: url(/assets/icon-close.svg);
}

.logo {
  width: 128px;
  height: 32px;
}

.nav {
  &__inner-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 20px 0 26px 0;
  }
  &__inner-left {
    display: flex;
    gap: 2rem;
  }

  &__list {
    display: none;
    // display: flex;
    gap: 2rem;
    align-self: center;
    list-style: none;
  }

  &__btn-contact {
    display: none;
  }

  &__list-link {
    color: #fff;
    text-decoration: none;
  }
}

.hamburger-menu {
  width: 29px;
  height: 27px;
  align-self: center;
  cursor: pointer;
}

.h1-red {
  color: $color-light-coral;
}

.header {
  &__heading {
    font-size: 40px;
    margin-bottom: 18px;
  }

  &__content {
    color: $color-white;
    font-weight: 600;
    max-width: 357px;
    margin: 0 auto;
    text-align: center;
    padding: 5rem 0 8rem 0;
  }

  &__left {
  }

  &__right {
  }

  &__description {
    line-height: 28px;
  }

  &__bottom-img {
    width: 100vw;
  }
}
