// @use '../abstracts/variables' as v; // double dot to go back an additional step // as v changes namespace
// @use '../abstracts/variables' as *;  // takes away the namespace
@use "../abstracts" as *; // imported with folder because of forwards
@use "./typography" as t;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.btn-test {
  background-color: $color-light-coral;
}

body {
  background-color: $color-midnight-green;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: t.$font;
}

//OVERLAY
.overlay {
  position: fixed;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay.show {
  opacity: 0.6;
  z-index: 1;
  background-color: rgb(0, 0, 0);
  // background-color: rgb(45, 49, 77);
}

.hamburger-menu {
  background-color: transparent;
  background-image: url(../assets/icon-hamburger.svg);
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  width: 20px;
  height: 17px;
  background-position: center center;
  z-index: 100;
}

.hamburger-menu.active {
  background-image: url(../assets/icon-close.svg);
}

.logo {
  width: 128px;
  height: 32px;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.nav-primary.show {
  display: flex;
}

.nav-primary {
  // display: flex;
  display: none;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  width: 290px;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: #2c6269;
  padding: 3rem;
  padding-top: 10rem;
  height: 100%;
  background-image: url(../assets/bg-pattern-about-1-mobile-nav-1.svg);
  background-repeat: no-repeat;
  background-position: 220% 90%;

  &__list {
    text-decoration: none;
    list-style: none;
  }

  &__list-item {
    margin-bottom: 1rem;
    font-size: 18px;
  }

  &__list-link {
    color: white;
    text-decoration: none;
  }

  &__btn-contact {
    border-radius: 30px;
    border: 2px solid white;
    padding: 0.8rem;
    color: white;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
  }
}

.hamburger-menu {
  width: 29px;
  height: 27px;
  align-self: center;
  cursor: pointer;
}

.h1-red {
  color: $color-light-coral;
}

.header {
  &__heading {
    font-size: 40px;
    margin-bottom: 18px;
  }

  &__content {
    color: $color-white;
    font-weight: 600;
    max-width: 357px;
    margin: 0 auto;
    text-align: center;
    padding: 5rem 0 8rem 0;
  }

  &__left {
  }

  &__right {
  }

  &__description {
    line-height: 28px;
  }

  &__bottom-img {
    margin-top: 2rem;
    width: 100vw;
  }
}
