@use "../abstracts" as *;
@use "../base/global" as *;

.clients {
  background-color: $color-very-dark-green;
  background-image: url(/assets/bg-pattern-about-4.svg);
  background-repeat: no-repeat;
  background-position: -100px -90px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 3rem;
  }

  &__heading {
    color: $color-white;
    font-size: 2rem;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 3.56rem;
    align-content: center;
  }

  &__logo {
    width: 9.1rem;
    align-self: center;
  }
}
