@use "../abstracts" as *;
@use "../base/global" as *;

.staff {
  background: $color-sacramento-state-green;

  &__content {
    padding: 1.5rem;
    position: relative;
    background-image: url(../assets/bg-pattern-about-2-contact-1.svg),
      url(../assets/bg-pattern-home-4-about-3.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -100px -95px, bottom right;

    //   height: 50rem;
  }

  &__heading {
    font-size: 2rem;
    color: $color-white;
    text-align: center;
    margin: 5.5rem 0 3rem 0;
  }

  &__boxes-container {
    display: flex;
    flex-direction: column;
    gap: 3.25rem;
  }
}

.box {
  padding: 2rem 1rem;
  height: 15rem;
  background-color: $color-very-dark-green;
  text-align: center;

  &__inner-content {
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 15rem;
    margin: 0 auto;
  }

  &__avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid $color-rapture-blue;
    margin-bottom: 1rem;
  }

  &__name {
    font-size: 1.125rem;
    color: $color-rapture-blue;
    margin-bottom: 0.3rem;
  }

  &__title {
    font-style: italic;
    color: $color-white;
  }

  &__cross {
    position: absolute;
    bottom: -80px;
    width: 3.5rem;
    height: 3.5rem;
    border: 2px solid $color-light-coral;
    border-radius: 50%;
    background-color: $color-light-coral;
    padding: 1.1rem;
    // margin-top: 2rem;
  }

  &__quote{
    color: $color-white;
    line-height: 1.5625rem
    
  }
 
  &__social-container{
    display: flex;
    gap:1rem;
    margin-top: 1rem;
  }
  
  &__cross.aqua {
    background-color: $color-rapture-blue;
    border: 0;
    padding: 1.3rem;
    
  }
}

.box.quote-box{
    margin-bottom: 7.25rem;
    background-color: $color-dark-green;
}

